<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Change Password</title>
</head>
<body>
	<h1>Change your password</h1>
	<br> 
    <p> Enter new password : </p>
    <form action="#" method="post" th:action="@{/updatepassword}" th:object="${personPassword}">
   		<input type="password" th:field="*{password}"> 
    	<button type="submit">Change</button>
    </form>	
    <br>
    <p><span th:text="${info}"></span></p>
    <br>
    <form action="#" method="post" th:action="@{/backToWelcome}">
    	<button type="submit">BACK</button>
    </form>	
</body>
</html>