<html xmlns:th="http://www.thymeleaf.org">
<head>
   <title>Login</title>
</head>
<body>
    <form action="#" method="post" th:action="@{/}" th:object="${login}">
            <h2>Login</h2>
            <br/>
            <div>
                <label>Email</label>
                <input th:field="*{email}" type="text" placeholder="Email">
            </div>
            <div>
                <label>Password</label>
                <input th:field="*{password}" type="password" placeholder="Password">
            </div>
            <br> 
            <br> 
            <div>
                <div>
                    <button type="submit">Submit</button>
                </div>
            </div>

        </form>
    </div>	
</body>
</html>
